.intro{

    font-family: 'Roboto Mono', monospace;
    font-size:50px;
    color:darkgrey;
    padding-left:100px;
    padding-top:150px;
    animation-delay:0ms;
    animation-duration:1.5s;
}

.nome{
    font-family: 'Roboto Mono', monospace;
    font-size:50px;
    color:coral;
    animation-delay:0ms;
    animation-duration: 1.5s;
}

html{
    background-color:darkred
}

.sottointro{
    font-family: 'Roboto Mono', monospace;
    color:rgb(187, 182, 182);
    font-size:30px;
    padding-left:100px;
    animation-delay:1s;
    animation-duration: 1.5s;

}

.descrizione{
    font-family: 'Roboto Mono', monospace;
    font-weight: 250;
    color:white;
    font-size:20px;
    padding-top:10px;
    padding-left:100px;
    padding-right:auto;
    animation-delay: 2.5s;
    animation-duration:1.5s;

}

.suppli{
    padding-top:0px;
    padding-left:600px;
    padding-right:100px;
    animation-delay: 3.5s;
    animation-duration: 1.5s;

}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.secondaparte{
    font-family: 'Roboto Mono', monospace;
    color:rgb(187, 182, 182);
    font-size:30px;
    padding-left:100px;
    padding-top:50px;
    padding-right:auto;
    animation-delay: 2.5s;
    animation-duration:1.5s;

}

.emoji{
    padding-top:0px;
    padding-left:670px;
    padding-right:100px;
    animation-delay: 3.5s;
    animation-duration: 1.5s;
    opacity: 100%;


}

nav{
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 75px;
}
nav .navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 max-width: 90%;
 margin: auto;
}

nav .navbar .menu{
  display: flex;
  padding-left:850px;
  padding-right:100px;
}
.navbar .menu li{
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a{
  align-items: left;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
section{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}

.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

footer{
    padding-top:50px;
    font-family: 'Roboto Mono', monospace;
    color:rgb(187, 182, 182);
    font-size:10px;
    text-align:center;
}
    
@media screen and (max-width: 1080px) {
    body {
        overflow: hidden;
        width:1080px;

  }

  .navbar a {
    float: none;
    width: 100%;
  }
}
